.container {
  max-width: 1000px;
  /* min-height: 100%; */
  margin: 0 auto;
}
/* .h1 {
  display: block;
  padding-top: 10px;
  text-align: center;
}
.box {
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  height: 100vh;
  display: grid;

  gap: 10px;
  grid-template-columns: 1fr 1.9fr 2fr;
}
.navbar,
.block {
  background: #d849f15c;
  border: 1px rgba(122, 122, 122, 0.236) solid;
  border-radius: 10px;
  height: 70vh;
}
.block {
  min-width: 300px;
}
.navbar {
  min-width: 120px;
} */
