.button {
  position: relative;
  height: 20px;
  width: 70px;
  border-radius: 7px;
  border: none;
  margin: 5px;
  background: #ffffff;
  transition: all 0.25s;
}

.button:hover {
  box-shadow: 1px 7px 15px -3px rgba(34, 60, 80, 0.2);
}
